<%- include("header.ejs") %>




<a class = "new-post" href = "compose"><button>+ New Post</button></a>
<% if (posts.length > 0) { %>
    <% posts.forEach(post => { %>
        
        <div class = "post">
            <div class = "post-header">
            <h2><%= post.title %></h2>
             <p><%= post.content %></p>
            
            <div class = "post-actions">
                
                <form action = "/edit/<%= post.id %>" method = "GET" style = "display:inline;">
                <button type="submit">Edit</button>
                </form>
                
                <form action = "/delete/<%= post.id %>" method = "POST" onsubmit = "return confirm('Delete this Post...?');">
                    <button type = "submit">Delete</button>
                </form><br><br>
            
            </div>
            </div>
            
            <!-- <p><%= //post.content %></p> -->

           

          
        </div>

    <% }) %>
    
    <% } else { %>
    <p>No Blog Posts Available</p>

<% } %>

<%- include("footer.ejs") %>
  
